<!-- <!DOCTYPE html>
 <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Writing Assistant</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#3B1F9E" />
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <header>
          <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar fixed-top">
            <a class="navbar-brand px-sm-5 ml-3" href="index.html"><img src="https://res.cloudinary.com/kuic/image/upload/v1572638901/docufix/Docufix_Logo_lnsgsr.svg" alt="DOCUFIX" id="image"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto px-5">
                <li class="nav-item">
                  <a class="nav-link text-center" href="about_us.html">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tools
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-justify" href="fileUpload.html">Compare files</a>
                    <a class="dropdown-item text-justify" href="grammarChecker.html">Grammar Check</a>
                    <a class="dropdown-item text-justify" href="fileDuplicate.html">Duplicates Check</a>
                    <a class="dropdown-item text-justify" href="plagiarismChecker.html">Plagiarism Check</a>
                    <a class="dropdown-item text-justify" href="paraphrase.html">Paraphrasing tool</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Support
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-justify" href="faq.html">FAQ</a>
                    <a class="dropdown-item text-justify" href="contact.html">Contact Us</a>
                    <a class="dropdown-item text-justify" href="why-use-docufix.html">Why use Docufix</a>
                    <a class="dropdown-item text-justify" href="privacy.html">Privacy Policy</a>
                    <a class="dropdown-item text-justify" href="termsOfService.html">Terms of Service</a>
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="teampage.html">Our Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-center" href="login.php">Login</a>
                </li>
              </ul>
            </div>
          </nav>
        </header>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </body>
 </html>
     -->