<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/header&footer.css" />
    <meta charset="utf-8">
    <title>Writing Assistant</title>
  </head>
  <body>
    <ul class='nav'>
      <li class='nav-item'>
        <a class="nav-link" href="{{url_for('core.index')}}">Home</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link" href="{{url_for('core.info')}}">About</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class='nav-item'>
        <a class="nav-link" href="{{url_for('users.logout')}}">Log Out</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link" href="{{url_for('users.account')}}">Account</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link" href="{{url_for('dashboard.index')}}">Dashboard</a>
      </li>
      <li class="'nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('paraphrasing.index')}}">Paraphase</a>
          <a class="dropdown-item" href="{{url_for('text_completion.index')}}">Text completion</a>
          <a class="dropdown-item" href="{{url_for('grammar_check.index')}}">Grammar check</a>
          <a class="dropdown-item" href="{{url_for('plagiarism_check.index')}}">Plagiarism</a>
        </div>
      {% elif 'profile' in session %}
      <li class='nav-item'>
        <a class="nav-link" href="{{url_for('auth.logout')}}">Log Out</a>
      </li>
      <li class="'nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('paraphrasing.index')}}">Paraphase</a>
          <a class="dropdown-item" href="{{url_for('text_completion.index')}}">Text completion</a>
          <a class="dropdown-item" href="{{url_for('grammar_check.index')}}">Grammar check</a>
          <a class="dropdown-item" href="{{url_for('plagiarism_check.index')}}">Plagiarism</a>
        </div>
      {% else %}
      <li class='nav-item'>
        <a class="nav-link" href="{{url_for('users.login')}}">Log In</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link" href="{{url_for('users.register')}}">Register</a>
      </li>
      {% endif %}
    </ul>
<div class="container">
  {% block content %}

  {% endblock %}
</div>
<footer id="footer">
  <div class="container mt-3"><hr>
    <div class="row">
        <div class="col-sm-6" id="docufix">
            <span>Writing Assistant</span>
        </div>
      <div class="col-sm-6 text-center">           
          <ul class="list-inline text-center mt-3 pl-3">  
              <li class="list-inline-item">
                <a class="text-center" href="contact.html">Contact us</a>
              </li>
                <li class="list-inline-item">
                <a class="text-center" href="whyuse.html">Why use Docufix</a>
              </li>
                <li class="list-inline-item">
                    <a class="text-center" href="termsOfService.html">Terms and Conditions</a>
                  </li>
              <li class="list-inline-item">
                  <a class="text-center" href="privacy.html">Privacy Policy</a>
              </li>
              
            </ul>
      </div>
    </div>
  </div>
</footer>
</div>


  </body>
</html>
