{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>Grammar Check</h1>
  <hr>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.input_text.label(class="form-control-label") }}
      {{ form.input_text(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Check Text</button>
  </form>
  {% if highlighted_text %}
  <hr>
  <h3>Highlighted Text</h3>
  <p>{{ highlighted_text|safe }}</p>
  {% endif %}
  {% if grammar_errors %}
  <hr>
  <h3>Grammar Errors</h3>
  <ul>
    {% for error in grammar_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if fix_errors %}
  <hr>
  <h3>Correction for the following text</h3>
  <ul>
    {% for fix_error in fix_errors %}
    <li>{{ fix_error|safe }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock %}
