{% extends "base.html" %}

{% block content %}
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png"
    href="https://res.cloudinary.com/thecavemann/image/upload/v1571839870/logo_g4kuoa.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#333" />
  <link rel="manifest" href="manifest.json" />
  <link rel="stylesheet" type="text/css" href="../static/css/teampage.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  <link rel="icon" type="image/png"
    href="https://res.cloudinary.com/thecavemann/image/upload/v1571839870/logo_g4kuoa.png" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/css/grammar.css">
  <title>Docufix | Team Page</title>
  <script type="text/javascript" src="//widget.instabot.io/jsapi/rokoInstabot.js" crossorigin>
    apiKey: "vXj90M2ifAvu8fS739jFKepTXtES72ur59sGR5TPK9c="
  </script>
</head>
<h1>Grammar Check</h1>
<hr>
<div id="container">
  <div class="text-content">
    <form method="post">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <h3>{{ form.input_text.label(class="form-control-label") }}</h3>
        {{ form.input_text(class="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary">Check Text</button>
    </form>
    {% if highlighted_text %}
    <hr>
    <div class="highlight-text">
      <h3>Highlighted Text</h3>
      <div class="highlight-text-box">{{ highlighted_text|safe }}</div>
    {% endif %}
    </div>
    {% if fix_errors %}
    <hr>
    <div class="text-correction">
      <h3>Correction for the following text</h3>
      {% for fix_error in fix_errors %}
      <div class="correction-box">
        {{ fix_error|safe }}
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
