<!-- dashboard.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Activity History</h1>

  <table>
    <thead>
        <tr>
            <th>Input Text</th>
            <th>Output Text</th>
        </tr>
    </thead>
    <tbody>
        {% for grammarcheck in user_grammarcheck.items %}
        <tr>
            <td>{{ grammarcheck.timestamp, grammarcheck.input_text }}</td>
            <td>{{ grammarcheck.output_text }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

<!-- 
có hai cách để ghi giờ nhé 1 là ghi ngay cạnh input như t làm
hai là m tách cái thẻ timestap ra <p>{{ completion.timestamp}}</p>-->


