{% extends "base.html" %}
{% block content %}
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png"
    href="https://res.cloudinary.com/thecavemann/image/upload/v1571839870/logo_g4kuoa.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#333" />
  <link rel="manifest" href="manifest.json" />
  <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" />
  <link rel="icon" type="image/png"
    href="https://res.cloudinary.com/thecavemann/image/upload/v1571839870/logo_g4kuoa.png" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <title>Writing Assistant | Team Page</title>
  <script type="text/javascript" src="//widget.instabot.io/jsapi/rokoInstabot.js" crossorigin>
    apiKey: "vXj90M2ifAvu8fS739jFKepTXtES72ur59sGR5TPK9c="
  </script>
</head>
<img src="../static/image/AI.jpg" alt="">
<section id="Introduction" class="text-center mb-3">
  <div class="text-center">
    
        <h3>ABOUT US</h3>
        <!-- <button class="btn btn-primary mt-2 text-center">Updated November 2019</button> -->
    
  </div> 
</section>
 <div class="container" id="container">
   <div class="row">
     <div class="col-sm-12">
        <div class="accordion mt-5" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    WHO WE ARE+
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Writing Assistant is one of the most innovative technology of our age. Built with the latest technical tools for files and data management, Writing Assistant 
                        serves it's users with the ability to compare, check, and maintain their files and documents faster and easily. <br> 
                    </p> 

                    <p>With the help of our finest refined data management algorithm, we help you sort, arrange, compare and extract information from different file formats. 
                       We give you the super power to compare two totally different documents in different file formats. 
                    </p>

                    <p>With Writing Assistant, you have the potential to know exactly the difference and similarities between two files, extract texts from the files and also download the files in file formats</p>

                    <p>This magnificient tool was built by the most intellectual young programmers from the <a href="https://hng.tech/" target="_blank">HNGi6</a> 2019 Internship.</p>                       
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    OUR TOOLS
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Writing Assistant gives you tools such as: </p>
                    <ol>
                        <li>Text Completition: An easy to use tool that helps you to compare your files and documents.</li>
                        <li>Paraphasing: An easy to use tool that helps you remove all duplicates of words in your files and documents.</li>
                        <li>Plagiarism: An easy to use tool that helps you check for grammatical errors in your files and documents.</li>
                        <li>Grammar check: An easy to use tool that helps you check for grammatical errors in your files and documents.</li>
                    </ol>  
                    <p>...and many other useful tools.</p>
                    <p>Why not visit our tools tab, try out any of our feature tools and send us <a href="contact.html">feedback or recommendations</a>.</p>
                </div>
              </div>
            </div>
          </div>             
     </div>
   </div>
 </div>
 
  <div class="text-center"> 
      <a href="disclaimer.html" class="btn  px-5  btn-outline-dark text-center m-5" style="font-weight: bold;margin-bottom:20px;">Disclaimer</a>
     </div>
{% endblock %}
