*{
    scroll-behavior: smooth;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito' !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa !important;
    position: relative;
}
.fa-bars{
    color: #3B1F9E !important;
}
#image{
    width: 100%;
     height: 100%;
}
.header{
    width: 100%;
}
.nav {
    background-color: linear-gradient(to right, #FF4B2B, #FF416C);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.navbar{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    width: 100%;
}
button.navbar-toggler{
    border: none !important;
}
.navbar-toggler-icon{
    color: rgba(12, 10, 90, 0.8) !important;
    border: none !important;
}
.nav-link{
    border: none;
    border-radius: 6px; 
    padding:  0.5em 1em !important;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    border-bottom: 1px solid rgba(12, 10, 90, 0.8) !important;
}
.dropdown-menu a{
    color: #828282;
    background-color: #ffffff;
}
.dropdown-menu a:hover{
    color: #ffffff !important;
    background: linear-gradient(to right, #FF4B2B, #FF416C);
}
.nav-link ,.dropdown-item {
    color: rgba(12, 10, 90, 0.8) !important;
    font-style: normal;
    font-size: 1.2em;
    line-height: 40px;
}
.nav-link:hover{
    background: linear-gradient(to right, #FF4B2B, #FF416C) !important;
    color: #ffffff !important;
}
a:hover{
    color: #3B1F9E;
}
.top-nav-collapse {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  #footer {
    width: 100%;
  }
 
  #footer ul{
      margin: 0 auto;
  }

  #docufix > span {
    color:#F26767;
    font-size: 20px;
  }

  #footer a{ 
    color:  rgba(17, 9, 44, 0.7) !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px !important;
    line-height: 1.375em;
    text-decoration: none;
  }
  #footer p{
      font-size: 1em;
      line-height: 1.375em;
  }
  #footer a:hover{
      color: rgba(12, 10, 90, 0.8) !important;
  } 
 #footer p > a{
      color:#F26767 !important;
  }
  hr{
      border:  1px solid #F26767 !important;
      width: 100%;
  }
  @media only screen and (max-width:450px){
    #footer{
        text-align: center;
        margin: 0 auto;
    }
    #docufix p {
        text-align: center !important;
        margin: 0 auto;
    }
  }
  