* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	height: 100vh;
}

body > .container {
	height: 80vh;
	display: flex;
	align-items: center;
}

body > .container > #container {
	display: flex;
	justify-content: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 10px;
	padding: 0 !important;
	height: 80%;
	width: 100%;
}

.nav-item:nth-child(2) > .nav-link {
	background: #fff;
}

.nav-item:nth-child(3) > .nav-link {
	background: linear-gradient(to right, #FF4B2B, #FF416C);
}

.my-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	background-color: #fff;
	padding: 20px 40px;
	border-radius: 10px;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.jumbotron {
	width: 50%;
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	margin: 0 !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.title {
	text-align: center;
	font-size: 55px !important;
	font-weight: bolder !important;
	color: #fff !important;
}

.signup {
	font-weight: bolder !important;
}

.signup {
	text-align: center;
}

.form-group {
	width: 100%;
}

#submit {
    margin-top: 16px;
    background-color: #007bff;
    border: none;
    padding: 5px 0;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
}

#submit:hover {
    background-color: #0069d9;
}

.my-form p {
    margin-bottom: 5px !important;
    margin-top: 16px;
}

.my-form a {
    font-size: 20px;
}
