/* .body {
  background-color: #e5e5e5;
}
.div1 {
  padding: 50px;
}
textarea {
  width: 100%;
  height: 450px;
  padding: 9px;
}
.font {
  font-family: Nunito;
  color: #3b1f9e;
}
.btn1 {
  background-color: #ededf4;
  border-radius: 20px;
  color: #3b1f9e;
  margin: 2px;
  outline: none;
} */
/*.btn_file{
	border-radius: 20px;
	background-color: #EDEDF4;
	color: #3B1F9E;
	width: 130px;
	font-family: Nunito;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 130%;
   padding: 4px;
   outline: none;
}*/
/* .btn_text {
  border-radius: 20px;
  background-color: #3b1f9e;
  color: #ffffff;
  width: 130px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 130%;
  padding: 4px;
  outline: none; */
  /*margin-left: -30px;*/
/* } */
/* .para_btn {
  background-color: #3b1f9e;
  color: white;
  border-radius: 20px;
  width: 100%;
  margin: 5px;
  padding: 5px;
  height: 40px;
  outline: none;
}
.div2 {
  padding: 40px;
}
.div3 {
  padding: 40px;
}
.text_padding {
  padding: 26px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #333333;
}
.para_image {
  width: 117px;
  height: 117px;
  margin-top: 17px;
  margin-bottom: 17px;
  margin-right: 0px;
  background-color: white;
  border-radius: 200px;
}
.para_div {
  background-color: #f0eff5;
}
.para_p {
  font-family: Nunito;
  font-style: normal;
  color: #3b1f9e;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.para_p2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #3b1f9e;
} */

body > .container {
  height: 85vh;
  margin-bottom: 60px;
}

h1 {
  margin-top: 30px;
  font-weight: bolder;
  text-align: center;
}

h3 {
  margin: 0 !important;
  height: 41px !important;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 85%;
  margin-top: 30px;
}

#container textarea {
  height: 100%;
  border-radius: 4px;
}

#container textarea:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav-item:nth-child(2) > .nav-link {
	background: #fff;
}

.dropdown-item:first-child, .dropdown-toggle {
  background: linear-gradient(to right, #FF4B2B, #FF416C);
}

form, .result {
  width: 48%;
  height: 100%;
}

.form-group {
  height: 85%;
  margin: 0 !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 4px;
}

.result {
  display: flex;
  flex-direction: column;
}

span {
  margin-bottom: 8px;
}

.result-box {
  height: 85%;
  border-radius: 4px;
  border: #ccc 1px solid;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #fff;
}

.result-choice{
  padding: 6px 12px;
  border-bottom: #B0B0B0 2px solid;
  background-color: #fff;
  overflow-y: auto;
  height: 32%;
}

.result-choice:nth-child(2), .result-choice:last-child {
  margin-top: 8px;
}

.result-choice:last-child {
  border-bottom: none !important;
}

.btn-primary {
  width: 100%;
	padding: 12px 15px;
	font-size: 20px;
	margin-top: 40px;
}